body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none; /* جلوگیری از اسکرول لمسی */
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#cat {
    position: absolute;
    z-index: 10;
    width: 120px;
    height: 120px;
    bottom: 20px;
    left: 50px;
}

.item {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: cover;
    z-index: 5;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    z-index: 20;
    text-shadow: 1px 1px 3px black;
}
